mixin featuredImage(image)
  - var fi = image || featuredImage || false
  if fi
    .featured-image-wrapper
      .content
        .featured-image(style=fi?`background-image:url(${contentfulImage(fi)})`:false)
