footer.footer#footer
  .container
    .footer-navigation-wrapper
      include ./navbar
      +navbar('footer-navigation', 'footer-navigation')
    .footer-legal
      p All content © Emma Gray 2016#{moment().format('YYYY') !== '2016' ? ` &mdash; ${moment().format('YYYY')}` : ''}
          