mixin headerLogo(type)
    #header-logo
      include ../components/logo

mixin headerText(title)
  //- work out if we need a subtitle
  - var subtitle = false
  if /[\(:]/.test(title)
    - var titleSegments = title.split(/[\(:]/)
    if /[\(]/.test(title)
      if title.substr(title.length-1) === ')'
        - title = titleSegments[0].trim()
        - subtitle = `(${titleSegments[1].trim()}`
    else if /[:]/.test(title)
        - title = `${titleSegments[0].trim()}:`
        - subtitle = titleSegments[1].trim()
  h1.page-title#page-title!= typogr.typogrify(title)
    if subtitle
      span.subtitle!= typogr.typogrify(subtitle)

mixin header(options)
  - var opts = options || {};
  - var showLogo = opts.logo === false ? false : true
  - var showBreadcrumbs = opts.breadcrumbs === false ? false : true
  - var showPagetitle = opts.title === false ? false : true
  header#header
    if showLogo
      +headerLogo()
    if showBreadcrumbs
      include ../components/breadcrumbs
    if showPagetitle
      +headerText(title)