nav#navbar-main.navbar.navbar-primary.navbar-fixed-top.nav-minimal
    .container
        .navbar-header
            include ./navbar-header-brand
        #navbar-main-collapse.navbar-main-menu.collapse.navbar-collapse
            ul.nav.navbar-nav
                if seriesSet['main-navigation'] && seriesSet['main-navigation'].children
                    each item in seriesSet['main-navigation'].children
                        - var file = item.file
                        case item.type
                            when 'page'
                            when 'category'
                                li.nav(class=(breadcrumb_path && breadcrumb_path[0] && breadcrumb_path[0].path === file.path ? 'active' : ''))
                                    a(href=`/${file.slug}/`, id="navbar-link-"+file.slug, title=file.title)!= typogr.typogrify(file.shortTitle || file.title)
                            when 'link'
                                li.nav(class=(file.uri.substr(0,1)==='/' && path.replace(/\//g,'') === file.uri.replace(/\//g,'') ? 'active' : ''))
                                    a(href=file.uri id="navbar-link-"+slugify(file.title) target=file.uri.substr(0,1)==='/'?false:'_blank')!= typogr.typogrify(file.title)