.featured-image-wrapper {
	@include responsive-square(40%);
}
.featured-image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}