
.footer {
	position: relative;
	z-index: 1001;
	background-color: $footer-background-color;
	padding: $grid-gutter-width 0;
	@media(max-width:$screen-sm-max){
		width:100%;
	}
	font-size: 14px;
	a {
		color: $text-color;
		text-decoration: underline;
	}
}
.footer-navigation-wrapper {

}
.footer-navigation {
	text-align: center;
	&>li.nav {
		display: inline-block;
	}
}
.footer-legal {
	text-align: center;
	@media(min-width:$screen-md){
		margin-top: 25px;
	}
}