#header {
	text-align: center;
	@include clearfix();
}
#header-logo {
	@media(min-width: $screen-md) {
		margin-top: $grid-gutter-width * 3;
	}
	margin-bottom: $grid-gutter-width;
}
.page-title {
	color: $site-dark-gray;
	.subtitle {
		display: block;
		color: #999;
	}
}
.breadcrumb {
	text-align: left;
	@media(max-width:$screen-xs-max){
		display: none;
	}
	&>li{
		&+li:before{
			content: ">";
		}
	}
}