extends ./layout

block header
  include ./components/breadcrumbs
  include ./components/featured-image
  +featuredImage()
  include ./layout/header
  +header({breadcrumbs:false, logo: false})

block content
  #content
    main
      .row
        .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          if contents.length
            section.section-no-divider.recipe-description
              != contents
          if ingredients
            section.section-divider.recipe-ingredients
              h2.recipe-ingredients-title Ingredients
              != ingredients
          if method
            section.section-divider.recipe-method
              h2.recipe-method-title Method
              != method
          if notes
            section.section-divider.recipe-notes
              h2.recipe-notes Notes
              != notes
